{% extends 'base.html' %} 

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Inventory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class= "navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">{{name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">{{class}}</a>
            </li>
          </ul>

        <ul class="nav justify-content-end">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container mt-4">
    <div class="add-item text-center">
        <h1>Add New Item</h1>
    </div>
    <form method="POST">
    {% csrf_token %}
    <table class="mx-auto">
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Item"/>
            </td>
        </tr>
    </table>
</form>
</div>


{% endblock %}