{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <h5>Anda telah menyimpan {{quantity}} barang dalam inventory</h5>
<table>
    <tr>
        <th>Name</th>
        <th>Ammounts</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Effect</th>
        <th>Category</th>
    </tr>

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.ammount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            <td>{{item.effect}}</td>
            <td>{{item.category}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>


<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}